<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyGaraOto.Properties.Settings.GARA1ConnectionString"
            connectionString="Data Source=ACUMEN-PC\ASERVER;Initial Catalog=GARA1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>